DirectoryIndex index.html index.php

RewriteEngine On

RewriteRule ^admin\.html$ /login.php [R=302,L]
RewriteRule ^cafe-miyan-menu\.html$ /index.html [R=302,L]
RewriteRule ^index-api\.html$ /index.html [R=302,L]
